<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvrVKjte_dC5iTGubqHE7xsNaXdS-OJ4c</string>
	<key>GCM_SENDER_ID</key>
	<string>1095657355618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gainzAiApp</string>
	<key>PROJECT_ID</key>
	<string>gainz-ai-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gainz-ai-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095657355618:ios:d465c5bc1e504ca243143b</string>
</dict>
</plist>